@{
    ViewBag.Title = "About";
}

<h2>Проект "Социальная сеть".</h2>

<br/>

<h4>Выполнен студентами компьютерной академии "ШАГ":</h4>
<ul>    
    <li>Владимир Колесник;</li>
    <li>Артём Голубов;</li>
    <li>Дмитрий Задеряка.</li>
</ul>

<br />

<h4>Используемые технологии и инструменты:</h4>
<ul>
    <li>ASP.NET MVC;</li>
    <li>ORM - Entity Framework;</li>
    <li>LINQ;</li>
    <li>AJAX;</li>
    <li>VCS - Mercurial;</li>
    <li>Visual Studio;</li>
    <li>Trello.</li>
</ul>